@font-face {
    font-family: 'Monotype Corsiva';
    src: url('../../assets/fonts/monotype_corsiva/bold.woff2') format('woff2');
    font-weight: bold; font-style: normal;
}
@font-face {
    font-family: 'Monotype Corsiva';
    src: url('../../assets/fonts/monotype_corsiva/regular.woff2') format('woff2');
    font-weight: normal; font-style: normal;
}

body, html {
    margin: 0; padding: 0; width: 100%; height: 100%;
    background-color: #000; overflow: hidden;
    font-family: 'Monotype Corsiva', serif;
    display: flex; justify-content: center; align-items: center; user-select: none;
}

@media (pointer: fine) {
    body, html, #game-container, button, input, #granny-btn, .sidebar-item, .buy-btn, .lang-btn {
        cursor: url('../../assets/textures/ui/cursor.webp'), auto !important;
    }
}

#bg {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background-repeat: no-repeat; background-position: center center; background-size: cover;
    z-index: 1; filter: brightness(0.3) contrast(1.1); background-color: #000;
}

@media (orientation: portrait) { #bg { background-size: contain; } }

body::before {
    content: " "; display: block; position: absolute; top: 0; left: 0; bottom: 0; right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.4) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.05), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.05));
    z-index: 2; background-size: 100% 3px, 6px 100%; pointer-events: none;
}

#game-container {
    position: relative; z-index: 3; display: flex; flex-direction: column;
    align-items: center; justify-content: space-between; width: 100%; height: 100%;
    box-sizing: border-box; padding: 20px;
}

.shake-animation {
    animation: shakeEffect 0.15s infinite;
}

@keyframes shakeEffect {
    0% { transform: translate(3px, 2px) rotate(0deg); }
    20% { transform: translate(-2px, -3px) rotate(-1deg); }
    40% { transform: translate(-4px, 0px) rotate(1deg); }
    60% { transform: translate(2px, 3px) rotate(0deg); }
    80% { transform: translate(-2px, 2px) rotate(-1deg); }
    100% { transform: translate(3px, -2px) rotate(1deg); }
}

.hidden { display: none !important; }